body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.container{
    background-image: url(bg-image1.png);
    background-size: cover;
    background-position-x:50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    align-items: center;
}

.nav{
    display: flex;
    width: 100%; 
    /* margin:15px; */
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

.logo-container{
    display: flex;
    margin-left: 53px;
    /* margin-top: 23px; */
    /* border: 2px solid red; */
}

.button-container {
    display: flex;
    gap: 10px;
    margin-right: 345px;
    margin-top: 39px;
    /* margin-bottom: 43px; */
    /* align-items: center; */
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    background-color: #113446;
    border: 1px solid #35515d;
    border-radius: 29px;
    color: white;
    padding: 8px 24px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    /* width: 200px;
    height: 37px; */
}

.menu{
    /* background-color: rgba(17, 52, 70, .9); */
    background-color: #091B25;
    border: 1px solid #35515d;
    border-radius: 5px;
    margin-top: 43px;
    margin-bottom: 78px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1170px;
    width: 100%;
    min-height: 938px;
    height: 100%;
}

.content-container{
    display: flex;
    flex-direction: column;
    max-width: 956px;
    width: 100%;
}

.text{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    margin-top: 36px;
    margin-bottom: 39px;
    align-self: flex-start;
    /* margin-left: 110px; */
    /* padding-left: 10px; */
    /* border: 2px solid red; */
    /* letter-spacing: 0.08em; */
}

table {
    max-width: 956px;
    width: 100%;
    height: 663px;
    border-collapse: collapse;
    border: 1px solid white;
}

th, td {
    /* border: 1px solid #ddd; */
    /* padding: 8px; */
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

th{
    background-color: #0A1821;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: normal;
}

.table-heading{
    border: 1px solid white; 
}

tbody tr:nth-child(odd) {
    background-color: #0E2634; 
}

tbody tr:nth-child(even) {
    background-color: #2D4955; 
}

.button-field{
    align-self:center;
    margin-top: 50px;
    width: 100%;
    /* border: 4px solid green; */
    /* margin-top: 20px; */
}

.btn{
    height: 58px;
    max-width: 386px;
    width: 100%;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #a31917;
    color: white;
    border-radius: 29px;
    cursor: pointer;
}

@media (max-width: 850px){
    .button-container {
        margin-right: 53px;
    }
}

@media (max-width: 560px){
    .button-container {
        margin-right: 10px;
    }
    .logo-container{
        margin-left: 10px;
    }
    .button {
        padding: 3px 9px;
        font-size: 10px;
    }
    .logo{
        height: 26px;
        width: 105px;
    }
    
}

@media (max-width: 410px){
    .text{
        font-size: 24px;
    }
    th, td{
        font-size: 16px;
    }

}

@media (max-width: 340px){
    .button {
        padding: 2px 6px;
        font-size: 9px;
    }
    .logo{
        height: 18px;
        width: 70px;
    }
    .text{
        font-size: 20px;
    }
    th, td{
        font-size: 14px;
    }
}


/* @media (max-width: 600px){
    .nav{
        width:90%;
    }
}

@media (max-width: 510px){
    .nav{
        width:95%;
    } 
}

@media (max-width:480px){
    .logo{
        width: 60px;
    }
    .button{
        padding: 4px 8px;
        margin: 2px 1px;
        font-size: 10px;
        width: 90px;
    }
}

@media (max-width:450px) {
    .nav{
        margin: 10px;
    }
    .menu{
        height: 82%;
        width: 82%;
    }
}

@media (max-width:370px) {
    th, td {
        padding: 7px;
        font-size: .50em;
    }

    .text{
        font-size: 1em;
        font-weight: 300;
        padding-bottom: 10px;
        padding-left: 1px;
    }

    .logo{
        width: 40px;
        height: 20px;
    }
    .button{
        padding: 2px 2px;
        margin: 2px 1px;
        font-size: 8px;
        width: 70px;
    }
}

@media (max-width:290px) {
    th, td {
        padding: 6px;
        font-size: .40em;
    }

    .logo{
        width: 30px;
        height: 15px;
    }
    .button{
        padding: 1px 2px;
        margin: 2px 1px;
        font-size: 7px;
        width: 60px;
    } */




